/*=============== layout-linear ================*/
.layout-linear{
    display:flex;

    user-select: none,
    -khtml-user-select: none,
    -moz-user-select: none,
    -webkit-user-select: none
}
.layout-linear>* {
    user-select: none,
    -khtml-user-select: none,
    -moz-user-select: none,
    -webkit-user-select: none
}

/*=============== layout list ================*/
.layout-list{
    user-select: none,
    -khtml-user-select: none,
    -moz-user-select: none,
    -webkit-user-select: none
}

.layout-list >*{
    user-select: none,
    -khtml-user-select: none,
    -moz-user-select: none,
    -webkit-user-select: none
}

.layout-list-horizontal{
    overflow-x:auto;
    overflow-y:hidden;
    display:flex;
}

.layout-list-vertical{
    overflow-x:hidden;
    overflow-y:auto;
}

.layout-list-vertical >*{
    width:100%;
    display:block;
}

/*=============== layout multiframe ================*/
.layout-multiframe{
    display:flex;
}

.layout-multiframe-inner{
    flex:1;
    position: relative;
}


.layout-multiframe-inner >*{
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
}
/*==================== splitter =================*/
.layout-splitter{
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.layout-splitter-horizontal{
    width:5px;
}

.layout-splitter-vertical{
    height:5px;
}